@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap")
div.login
	position: static
	margin: auto
	width: 35vw
	height: 50vh
	background: #999
	border-radius: 2rem
	.logo
		padding-top: 1rem
		margin-left: auto
		margin-right: auto
		width: 8rem
		background: transparent
	.title
		padding-top: 1rem
		font-size: 1.4rem
		text-align: center
		text-transform: uppercase
		font-weight: bold
		background: transparent
	.sub-title
		padding-top: 0.3rem
		font-size: 0.9rem
		text-align: center
		text-transform: uppercase
		font-weight: bold
		background: transparent