body
	height: 300vh
	font-size: 62.5%

	.wrapper
		display: flex
		margin: auto
		justify-content: center
		min-height: 100%
		margin-bottom: -5rem
		color: #ffeeff
		.content 
			margin: 14rem 0 0 0
			min-width: 79vw
form
	.link__form
		display: none