<div class="border"><div>Tel. +49 (0)2444 9129-0</div><div>E-Mail: info@nierfeld-pappe.de</div></div>
<header>
	<a href='/p/home/'><img class='logo' src='../../img/logo.png' alt='logo'></a>
	<nav>
		<ul class='nav__links'>
			<li><a class='link' name='produkte' href='/p/home/'>HOME</a>
			</li>
			<li><a class='link' name='produkte' href='/p/produkte/'>PRODUKTE</a></li>
			<li><a class='link' name='philosophie' href='/p/philosophie/'>PHILOSOPHIE</a></li>
			<li><a class='link' name='historie' href='/p/historie/'>HISTORIE</a></li>
			<li><a class='link' name='team' href='/p/team/'>DAS TEAM</a></li>
		</ul>
	</nav>
	<a class='cta link' name='kontakt' href='/p/kontakt'><button>Kontakt</button></a>
</header>