$primary: #232323
$secondary: #F6ECF0
$firma-1: #FCB209
$firma-2: #D8991F
$firma-3: #4E421F
$grun: #5c8450
$bgcolor: #f9f9f9

footer, .push
	height: 70px

footer
	position: sticky
	top: 100%
	margin: 5rem auto auto auto
	display: flex
	width: 80vw
	justify-content: space-between
	align-items: center
	padding: 5px 5%
	box-shadow: 0px 0 5px rgba(0, 0, 0, 0.3), -1px 0 5px rgba(0, 0, 0, 0.3)
	background: #e9e9e9
	
	.nav__links
		list-style: none
		background: transparent

		li
			display: inline-block
			position: relative
			width: auto
			margin: 0 16px
			text-align: center
			order: 3
			padding: 15px 0
			cursor: pointer
			background: transparent
			&:after
				position: absolute
				content: ''
				left: 0
				bottom: 5px
				height: 2px
				width: 100%
				background: $firma-1
				opacity: 0
				transition: all 0.2s linear
			&:hover:after
				opacity: 1
				bottom: 8px

			a
				transition: all 0.3s ease 0s
				text-decoration: none

	button
		padding: 9px 25px
		background-color: $firma-1
		border: none
		border-radius: 50px
		cursor: pointer
		transform: all 0.3 ease 0s

		&:hover
			background-color: $firma-2