@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
#slides {
  position: relative;
  height: 300px;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center; }

.box {
  box-shadow: 1px 0 20px rgba(0, 0, 0, 0.3), -1px 0 20px rgba(0, 0, 0, 0.3);
  width: 80vw;
  margin: auto auto auto auto;
  min-height: 110vh;
  background: #f9f9f9; }

.slide {
  position: absolute;
  width: 50%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  border-bottom: 1px solid #909090;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 3s; }
  .slide img {
    max-height: 100%;
    max-width: 100%; }

.showing {
  opacity: 1;
  z-index: 2; }

html {
  background: #aaaaaa; }
  html body {
    font-size: 62.5%;
    font-family: "Montserrat", sans-serif;
    background: #aaaaaa;
    height: 100%; }
  html .wrapper {
    display: flex;
    margin: auto auto auto auto;
    padding-top: 2rem;
    justify-content: center;
    height: 100%;
    margin-bottom: -5rem;
    color: #232323; }
    html .wrapper .content {
      margin: 0 auto auto auto;
      width: 70vw;
      height: 100%;
      font-size: 0.9rem;
      /* Slideshow container */ }
      html .wrapper .content #con_ {
        margin-bottom: 5rem; }
      html .wrapper .content p {
        text-align: justify; }
      html .wrapper .content #slider_dots {
        margin-bottom: 3rem; }
      html .wrapper .content .mySlides {
        display: none; }
      html .wrapper .content img {
        vertical-align: middle; }
      html .wrapper .content .slideshow-container {
        width: 90%;
        max-width: 1000px;
        position: relative;
        margin: auto;
        box-shadow: 1px 0 20px rgba(0, 0, 0, 0.3), -1px 0 20px rgba(0, 0, 0, 0.3); }
      html .wrapper .content .prev, html .wrapper .content .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none; }
      html .wrapper .content .next {
        right: 0;
        border-radius: 3px 0 0 3px; }
      html .wrapper .content .prev:hover, html .wrapper .content .next:hover {
        background-color: rgba(0, 0, 0, 0.8); }
      html .wrapper .content .text {
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center; }
      html .wrapper .content .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0; }
      html .wrapper .content .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 8px 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease; }
      html .wrapper .content .active, html .wrapper .content .dot:hover {
        background-color: #717171; }
      html .wrapper .content .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s; }
@keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }
      html .wrapper .content .prev, html .wrapper .content .next, html .wrapper .content .text {
        font-size: 11px; }
      html .wrapper .content .contact-div {
        display: flex;
        justify-content: center; }
        html .wrapper .content .contact-div .contact {
          display: flex;
          flex-direction: column;
          width: 40%; }
          html .wrapper .content .contact-div .contact input, html .wrapper .content .contact-div .contact textarea, html .wrapper .content .contact-div .contact select, html .wrapper .content .contact-div .contact p {
            outline: 0;
            font-family: Tahoma, Geneva, sans-serif; }
          html .wrapper .content .contact-div .contact input[type="text"], html .wrapper .content .contact-div .contact input[type="email"] {
            display: block;
            margin-top: 15px;
            padding: 15px;
            border: 1px solid #dfe0e0;
            width: 30rem; }
          html .wrapper .content .contact-div .contact input[type="text"]:focus, html .wrapper .content .contact-div .contact input[type="email"]:focus {
            border: 1px solid #c6c7c7; }
          html .wrapper .content .contact-div .contact textarea {
            resize: none;
            margin-top: 15px;
            padding: 15px;
            border: 1px solid #dfe0e0;
            width: 30rem;
            height: 12rem; }
          html .wrapper .content .contact-div .contact textarea:focus {
            border: 1px solid #c6c7c7; }
          html .wrapper .content .contact-div .contact input[type="submit"] {
            display: block;
            margin-top: 15px;
            margin-bottom: 15px;
            padding: 15px;
            border: 0;
            background-color: #FCB209;
            font-weight: bold;
            color: #fff;
            cursor: pointer;
            width: 150px; }
          html .wrapper .content .contact-div .contact input[type="submit"]:hover {
            background-color: #D8991F; }
    html .wrapper .sbs {
      display: flex;
      flex-direction: row; }
    html .wrapper .outer-spo {
      border: 1px solid #a9a9a9;
      background: #eeeeee;
      margin: 10px;
      padding-left: 20px; }
      html .wrapper .outer-spo hr {
        display: none;
        margin-left: -20px;
        height: 0.2rem;
        background: #FCB209;
        border: none; }
      html .wrapper .outer-spo .inner-content {
        display: none; }
      html .wrapper .outer-spo p {
        padding-right: 20px; }
      html .wrapper .outer-spo a {
        text-decoration: none;
        font-size: 200%;
        width: 70vw; }
      html .wrapper .outer-spo .show {
        display: none; }
      html .wrapper .outer-spo .hide:target + .show {
        display: inline; }
      html .wrapper .outer-spo .hide:target {
        display: none; }
      html .wrapper .outer-spo .hide:target ~ .line {
        display: block; }
      html .wrapper .outer-spo .hide:target ~ .inner-content {
        display: inline; }
    html .wrapper .main-sidebar {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      padding: 10px;
      height: 65vh;
      width: 15vw;
      margin: 0 0 auto auto;
      border-top: 4px solid #D8991F;
      border-bottom: 4px solid #D8991F; }
      html .wrapper .main-sidebar .map {
        align-self: flex-end; }
        html .wrapper .main-sidebar .map iframe {
          margin: auto auto auto auto;
          height: 30vh;
          width: 14vw; }

.link__form {
  display: none; }

#all {
  margin: 15px 0 5px 0px;
  overflow: auto;
  padding: 15px 15px;
  background-color: transparent;
  /* Light mode */
  /* Dark mode */ }
  @media (prefers-color-scheme: light) {
    #all {
      color: #232323; } }
  @media (prefers-color-scheme: dark) {
    #all {
      color: #F6ECF0; } }
  #all p {
    font-family: "Arial", sans-serif, Arial Narrow, Arial;
    font-size: 13px;
    line-height: 20px;
    margin: 0 0 9px 0;
    /* Light mode */
    /* Dark mode */ }
    @media (prefers-color-scheme: light) {
      #all p {
        color: #232323; } }
    @media (prefers-color-scheme: dark) {
      #all p {
        color: #F6ECF0; } }
  #all .highlight {
    font-size: 18px;
    line-height: 26px;
    font-family: "Trebuchet MS", Tahoma, Arial, Helvetica, sans-serif;
    color: #FCB209;
    font-weight: normal; }
  #all ul {
    margin: 0 0 9px 0;
    font-family: "PT Sans", sans-serif, Arial Narrow, Arial;
    font-size: 13px;
    line-height: 20px; }
  #all .produkt {
    color: #D8991F; }
  #all table {
    border-collapse: collapse;
    font: normal 13px "Arial", sans-serif, Arial Narrow, Arial;
    color: #232323;
    margin: 10px 0px; }

/*# sourceMappingURL=style.css.map */
