@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap")

$primary: #232323
$secondary: #F6ECF0
$firma-1: #FCB209
$firma-2: #D8991F
$grun: #5c8450

#slides
	position: relative
	height: 300px
	padding: 0px
	margin: 0px
	list-style-type: none

	display: flex
	justify-content: center
	align-items: center

.slide
	position: absolute
	width: 50%
	height: 100%
	opacity: 0
	z-index: 1
	border-bottom: 1px solid #909090
	display: flex
	justify-content: center
	align-items: center

	transition: opacity 3s

	img
		max-height: 100%
		max-width: 100%

.showing
	opacity: 1
	z-index: 2


body
	height: 120vh
	font-size: 62.5%
	font-family: "Montserrat", sans-serif
	background: #aaaaaa


	.wrapper
		position: fixed
		display: flex
		margin: auto auto auto auto
		box-shadow: 1px 0 20px rgba(0, 0, 0, 0.3), -1px 0 20px rgba(0, 0, 0, 0.3)
		left: 10vw
		width: 80vw
		justify-content: center
		min-height: 100%
		margin-bottom: -5rem
		color: $primary
		.content 
			margin: 12rem auto 10rem auto
			width: 70vw
			font-size: 0.9rem


.link__form
	display: none








#all
	margin: 15px 0 5px 0px
	overflow: auto
	padding: 15px 15px
	background-color: transparent
	/* Light mode */
	@media (prefers-color-scheme: light) 
		color: $primary
	/* Dark mode */
	@media (prefers-color-scheme: dark) 
		color: $secondary


	p
		font-family: 'Arial', sans-serif, Arial Narrow, Arial
		font-size: 13px
		line-height: 20px
		margin: 0 0 9px 0
		/* Light mode */
		@media (prefers-color-scheme: light) 
			color: $primary
		/* Dark mode */
		@media (prefers-color-scheme: dark) 
			color: $secondary


	.highlight
		font-size: 18px
		line-height: 26px
		font-family: 'Trebuchet MS', Tahoma, Arial, Helvetica, sans-serif
		color: $firma-1
		font-weight: normal

	ul 
		margin: 0 0 9px 0
		font-family: 'PT Sans', sans-serif, Arial Narrow, Arial
		font-size: 13px
		line-height: 20px


	.produkt 
		color: $firma-2

	table
		border-collapse: collapse
		font: normal 13px 'Arial', sans-serif, Arial Narrow, Arial
		color: $primary
		
		margin: 10px 0px

	
